html,body,#app {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1366px;
}
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}